<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <!--width=device-width：指定视口的宽度与设备的宽度相等，使网页内容在设备上以真实的像素宽度显示，不会出现缩放或压缩。
initial-scale=1.0：指定初始的缩放比例为 1.0，即不进行任何缩放，以确保网页内容按照设备的实际像素比例显示。-->
    <title>岩体工程安全分析及预警系统</title>
    <link rel="stylesheet" href="/static/css/index.css"/>
</head>
<body >
    <header>
        <div class="head">
            <div class="head-gif"></div>
            <h1>岩体工程安全分析及预警系统</h1>
        </div>

        <div class="showTime"></div>
        <div class="logo"></div>

    </header>
    <!--页面主体部分-->
    <section class="mainbox">

        <!--左侧板块-->
    <div class="column">

        <div class="panel information" >
            <div class="information1">
                <div class="minlogo"></div>
                <div class="minlogo">
                    <ul>
                    <li>工程数</li>
                    <li>8</li>
                    </ul>
                </div>
            </div>
            <div class="information2">
                <div class="minlogo" ></div>
                <div class="minlogo">
                    <ul>
                    <li>项目数</li>
                    <li>18</li>
                    </ul>
                </div>
            </div>
            <div class="information3">
                <div class="minlogo"></div>
                <div class="minlogo">
                    <ul>
                    <li>设备数</li>
                    <li>125</li>
                    </ul>
                </div>
            </div>
            
        <div class="panel-footer"></div>

        </div>
<!--这是一次测试-->
        <div class="panel line" >
            <h2>工程领域</h2>
            <div class="chart" id="pie" >图表</div>
            <div class="panel-footer"></div>
        </div>
        <div class="shebei-chart" >
            <div class="panel-footer"></div>
            <div class="table">
                <h2>设备信息</h2>
                    <div class="gun">
                        <span >设备名称</span>
                        <span >在线数量</span>
                        <span >离线数量</span>
                        <span >失真数量</span>
                    </div>
                <div id="FontScroll2" class="myscroll">
                <ul>
                    <li>
                        <div class="fontInner clearfix">
                            <span >微震传感器</span>
                            <span>6</span>
                            <span>2</span>
                            <span>1</span>
                        </div>
                    </li>
                    <li>
                        <div class="fontInner clearfix">
                            <span >孔隙水压力计</span>
                            <span>5</span>
                            <span>1</span>
                            <span>1</span>
                        </div>
                    </li>
                    <li>
                        <div class="fontInner clearfix">
                            <span >三维激光扫描</span>
                            <span>8</span>
                            <span>3</span>
                            <span>1</span>
                        </div>
                    </li>
                    <li>
                        <div class="fontInner clearfix">
                            <span >倾角加速度计</span>
                            <span>6</span>
                            <span>3</span>
                            <span>1</span>
                        </div>
                    </li>
                    <li>
                        <div class="fontInner clearfix">
                            <span >阵列式位移计</span>
                            <span>4</span>
                            <span>0</span>
                            <span>1</span>
                        </div>
                    </li>
                    <li>
                        <div class="fontInner clearfix">
                            <span >锚杆应力计</span>
                            <span>2</span>
                            <span>0</span>
                            <span>1</span>
                        </div>
                    </li>
                    <li>
                        <div class="fontInner clearfix">
                            <span >多点位移计</span>
                            <span>2</span>
                            <span>0</span>
                            <span>1</span>
                        </div>
                    </li>
                </ul>
            </div>
            </div>
        </div>
        <div class="panel pie" style="height:3.3rem;width:6rem;margin-bottom: 0" id="bingtu">
            <h2>预警方法</h2>
            <div class="chart" style="height:2.8rem;" id="bar2">    </div>
            <div class="panel-footer"></div>
        </div>
        <div class="panel suibian" style="height:3.3rem;margin-bottom: 0 " id="suibian">
            <h2>监测数据图</h2>
            <div class="chart" style="height:2.8rem;" id="aqi">    </div>
            <div class="panel-footer"></div>
        </div>
        <!--百度地图的框-->
        <div class="baidu" id="allmap"></div>
    </div>





        <!--右侧板块-->
    <div class="column">
        <div class="panel bar">
            <h2>安全风险信息</h2>
            <div class="gun">
                <span >名称</span>
                <span >风险数量</span>
                <span >待处理量</span>
                <span >工程状态</span>
            </div>
            <div id="FontScroll1" class="myscroll">
                <ul>
                    <li>
                        <div class="fontInner clearfix">
                            <span >乌海输水隧洞</span>
                            <span>6</span>
                            <span>2</span>
                            <span>完成</span>
                        </div>
                    </li>
                    <li>
                        <div class="fontInner clearfix">
                            <span >乌海地下厂房</span>
                            <span>5</span>
                            <span>1</span>
                            <span>进行</span>

                        </div>
                    </li>
                    <li>
                        <div class="fontInner clearfix">
                            <span >甘肃五九隧道</span>
                            <span>8</span>
                            <span>3</span>
                            <span>进行</span>

                        </div>
                    </li>
                    <li>
                        <div class="fontInner clearfix">
                            <span >乌海地下水库边坡</span>
                            <span>6</span>
                            <span>3</span>
                            <span>完成</span>

                        </div>
                    </li>
                    <li>
                        <div class="fontInner clearfix">
                            <span >南芬露天矿边坡</span>
                            <span>4</span>
                            <span>0</span>
                            <span>完成</span>

                        </div>
                    </li>
                    <li>
                        <div class="fontInner clearfix">
                            <span >陕西引汉济渭</span>
                            <span>2</span>
                            <span>0</span>
                            <span>进行</span>

                            <!--<div  class="little-pie" style="background: #ffeb7b; height: 0.3rem; width: 0.3rem; font-family: 'Times New Roman' ;"></div>-->
                        </div>
                    </li>

                </ul>
            </div>

            <div class="panel-footer"></div>
        </div>
        <div class="panel line">
            <h2>风险等级统计</h2>
            <div class="chart" id="zhuzhaung">图表</div>
            <div class="panel-footer"></div>
        </div>
        <div class="panel pie" style="height:3.3rem;margin-bottom: 0">
            <h2>风险累积量</h2>
            <div class="chart" style="height:2.8rem;" id="line"></div>
            <div class="panel-footer"></div>
        </div>

    </div>
    </section>
<!--
<canvas id="canvas" style="position: absolute;top: 0; z-index: -1;"></canvas>//星空背景代码
-->
</body>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="/static/js/flexible.js"></script>
<script src="/static/js/echarts.js"></script>
<script src="/static/js/bg.js"></script>
<script src="/static/js/js.js"> </script>
<script type="text/javascript" src="//api.map.baidu.com/api?type=webgl&v=1.0&ak=IMvgCG1RHdISfVGvu86Geylf1zBmCrnh"></script>
<script src="/static/js/fontscroll.js"></script>
<script src="/static/js/FontScroll-1.2.js"></script>




<script type="text/javascript">
//百度地图js代码
var map = new BMapGL.Map("allmap");
map.centerAndZoom(new BMapGL.Point(121.535823,38.886325), 6);//17,数值越小缩放显示范围越大
map.enableScrollWheelZoom(true);
map.setHeading(0);
map.setTilt(45);
//map.setMapStyleV2({
  //styleId: '7b77018c2b281100cbd3b5c135f7926c'
//});
map.setMapType(BMAP_EARTH_MAP);  // 设置地图类型为地球模式

var zoomCtrl = new BMapGL.ZoomControl();  // 添加缩放控件
map.addControl(zoomCtrl);

var cityCtrl = new BMapGL.CityListControl({
            // 控件的停靠位置（可选，默认左上角）
            anchor: BMAP_ANCHOR_TOP_RIGHT,
            // 控件基于停靠位置的偏移量（可选）
            offset: new BMapGL.Size(20, 20)
        });  // 添加城市列表控件
map.addControl(cityCtrl);

    var point = new BMapGL.Point(121.535823,38.886325);
	map.centerAndZoom(point, 15);
//设置左键菜单
var menu = new BMapGL.ContextMenu();
var txtMenuItem = [
    {
        text: '新建项目',
        callback: function () {
            var myIcon = new BMapGL.Icon("/static/images/色相_饱和度 1.png", new BMapGL.Size(30, 90));

            var point = new BMapGL.Point(lng, lat);
            var marker = new BMapGL.Marker(point, {
                icon: myIcon
            });
            //var marker = new BMapGL.Marker(point);  // 创建标注
            map.addOverlay(marker);              // 将标注添加到地图中
            var opts = {
                width : 200,     // 信息窗口宽度
                height: 100,     // 信息窗口高度
                title : "请输入项目名称" , // 信息窗口标题
                message:"这里是故宫"
            }
            var infoWindow = new BMapGL.InfoWindow("请输入项目概况...", opts);  // 创建信息窗口对象

            marker.addEventListener("rightclick", function(){
                map.openInfoWindow(infoWindow, point); //开启信息窗口
	        });

        }
    }, {
        text: '删除项目',

        callback: function (e) {
            alert('暂未设置该功能')
        }
    }
];
for(var i = 0; i < txtMenuItem.length; i++){
    menu.addItem(new BMapGL.MenuItem(               // 定义菜单项实例
        txtMenuItem[i].text,                        // 传入菜单项的显示文本
        txtMenuItem[i].callback,                    // 传入菜单项的回调函数
        {
            width: 80,                             // 指定菜单项的宽度
            id: 'menu' + i                          // 指定菜单项dom的id
        }
    ));
}

map.addContextMenu(menu);
map.addEventListener('click', function (e) {
    lng=e.latlng.lng;
    lat=e.latlng.lat;

  menu.show()
}) // 在点击位置显示菜单




</script>

<script>
  // 使用插件
  $(document).ready(function() {
      console.log('已运行')
    $("#FontScroll1").myScroll({
      speed: 40,       // 设置滚动速度，值越大速度越慢
      rowHeight: 44.5    // 设置每行的高度，由于每次滚动一行结束后会立刻跳到下一行的边缘，如果两行之间有间隔就会导致跳动，通过试验44是最好的滚动行高，多和少都会出现跳动
    });
  });
</script>
<script>
  // 使用插件
  $(document).ready(function() {
      console.log('已运行')
    $("#FontScroll2").myScroll({
      speed: 40,       // 设置滚动速度，值越大速度越慢
      rowHeight: 44.5    // 设置每行的高度，由于每次滚动一行结束后会立刻跳到下一行的边缘，如果两行之间有间隔就会导致跳动，通过试验44是最好的滚动行高，多和少都会出现跳动
    });
  });
</script>
</html>